body {
  font-family: verdana, helvetica;
}

#form {
  display: none;
}

#form input[type=text] {
  border-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

#load {
  border: none;
  display: none;
}

.embedded {
  margin: 0px;
  padding: 0px;
}
