.highlight  { background: #eed; }
.highlight .hll { background: #ffc; }
.highlight .c { color: #998; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { font-weight: bold } /* Keyword */
.highlight .o { font-weight: bold } /* Operator */
.highlight .cm, .highlight .cm { color: #998; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999; font-weight: bold } /* Comment.Preproc */
.highlight .c1 { color: #998; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000; background-color: #fdd } /* Generic.Deleted */
.highlight .gd .x { color: #000; background-color: #faa } /* Generic.Deleted.Specific */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #a00 } /* Generic.Error */
.highlight .gh { color: #999 } /* Generic.Heading */
.highlight .gi { color: #000; background-color: #dfd } /* Generic.Inserted */
.highlight .gi .x { color: #000; background-color: #afa } /* Generic.Inserted.Specific */
.highlight .go { color: #888 } /* Generic.Output */
.highlight .gp { color: #555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaa } /* Generic.Subheading */
.highlight .gt { color: #a00 } /* Generic.Traceback */
.highlight .kc { font-weight: bold } /* Keyword.Constant */
.highlight .kd { font-weight: bold } /* Keyword.Declaration */
.highlight .kp { font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #458; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #099 } /* Literal.Number */
.highlight .s { color: #d14 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #458; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #900; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #900; font-weight: bold } /* Name.Function */
.highlight .nn { color: #555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbb } /* Text.Whitespace */
.highlight .mf { color: #099 } /* Literal.Number.Float */
.highlight .mh { color: #099 } /* Literal.Number.Hex */
.highlight .mi { color: #099 } /* Literal.Number.Integer */
.highlight .mo { color: #099 } /* Literal.Number.Oct */
.highlight .sb { color: #d14 } /* Literal.String.Backtick */
.highlight .sc { color: #d14 } /* Literal.String.Char */
.highlight .sd { color: #d14 } /* Literal.String.Doc */
.highlight .s2 { color: #d14 } /* Literal.String.Double */
.highlight .se { color: #d14 } /* Literal.String.Escape */
.highlight .sh { color: #d14 } /* Literal.String.Heredoc */
.highlight .si { color: #d14 } /* Literal.String.Interpol */
.highlight .sx { color: #d14 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #d14 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #099 } /* Literal.Number.Integer.Long */

.highlight .tok-c { color: #228B22 } /* Comment */
.highlight .tok-err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .tok-k { color: #8B008B; font-weight: bold } /* Keyword */
.highlight .tok-cm { color: #228B22 } /* Comment.Multiline */
.highlight .tok-cp { color: #1e889b } /* Comment.Preproc */
.highlight .tok-c1 { color: #228B22 } /* Comment.Single */
.highlight .tok-cs { color: #8B008B; font-weight: bold } /* Comment.Special */
.highlight .tok-gd { color: #aa0000 } /* Generic.Deleted */
.highlight .tok-ge { font-style: italic } /* Generic.Emph */
.highlight .tok-gr { color: #aa0000 } /* Generic.Error */
.highlight .tok-gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .tok-gi { color: #00aa00 } /* Generic.Inserted */
.highlight .tok-go { color: #888888 } /* Generic.Output */
.highlight .tok-gp { color: #555555 } /* Generic.Prompt */
.highlight .tok-gs { font-weight: bold } /* Generic.Strong */
.highlight .tok-gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .tok-gt { color: #aa0000 } /* Generic.Traceback */
.highlight .tok-kc { color: #8B008B; font-weight: bold } /* Keyword.Constant */
.highlight .tok-kd { color: #8B008B; font-weight: bold } /* Keyword.Declaration */
.highlight .tok-kn { color: #8B008B; font-weight: bold } /* Keyword.Namespace */
.highlight .tok-kp { color: #8B008B; font-weight: bold } /* Keyword.Pseudo */
.highlight .tok-kr { color: #8B008B; font-weight: bold } /* Keyword.Reserved */
.highlight .tok-kt { color: #a7a7a7; font-weight: bold } /* Keyword.Type */
.highlight .tok-m { color: #B452CD } /* Literal.Number */
.highlight .tok-s { color: #CD5555 } /* Literal.String */
.highlight .tok-na { color: #658b00 } /* Name.Attribute */
.highlight .tok-nb { color: #658b00 } /* Name.Builtin */
.highlight .tok-nc { color: #008b45; font-weight: bold } /* Name.Class */
.highlight .tok-no { color: #00688B } /* Name.Constant */
.highlight .tok-nd { color: #707a7c } /* Name.Decorator */
.highlight .tok-ne { color: #008b45; font-weight: bold } /* Name.Exception */
.highlight .tok-nf { color: #008b45 } /* Name.Function */
.highlight .tok-nn { color: #008b45; text-decoration: underline } /* Name.Namespace */
.highlight .tok-nt { color: #8B008B; font-weight: bold } /* Name.Tag */
.highlight .tok-nv { color: #00688B } /* Name.Variable */
.highlight .tok-ow { color: #8B008B } /* Operator.Word */
.highlight .tok-w { color: #bbbbbb } /* Text.Whitespace */
.highlight .tok-mf { color: #B452CD } /* Literal.Number.Float */
.highlight .tok-mh { color: #B452CD } /* Literal.Number.Hex */
.highlight .tok-mi { color: #B452CD } /* Literal.Number.Integer */
.highlight .tok-mo { color: #B452CD } /* Literal.Number.Oct */
.highlight .tok-sb { color: #CD5555 } /* Literal.String.Backtick */
.highlight .tok-sc { color: #CD5555 } /* Literal.String.Char */
.highlight .tok-sd { color: #CD5555 } /* Literal.String.Doc */
.highlight .tok-s2 { color: #CD5555 } /* Literal.String.Double */
.highlight .tok-se { color: #CD5555 } /* Literal.String.Escape */
.highlight .tok-sh { color: #1c7e71; font-style: italic } /* Literal.String.Heredoc */
.highlight .tok-si { color: #CD5555 } /* Literal.String.Interpol */
.highlight .tok-sx { color: #cb6c20 } /* Literal.String.Other */
.highlight .tok-sr { color: #1c7e71 } /* Literal.String.Regex */
.highlight .tok-s1 { color: #CD5555 } /* Literal.String.Single */
.highlight .tok-ss { color: #CD5555 } /* Literal.String.Symbol */
.highlight .tok-bp { color: #658b00 } /* Name.Builtin.Pseudo */
.highlight .tok-vc { color: #00688B } /* Name.Variable.Class */
.highlight .tok-vg { color: #00688B } /* Name.Variable.Global */
.highlight .tok-vi { color: #00688B } /* Name.Variable.Instance */
.highlight .tok-il { color: #B452CD } /* Literal.Number.Integer.Long */
