# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# samples
samples

# test
test

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
_site

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# FS stuff
.DS_Store
thumbs.db

# IDE Stuff
*.iml
*.swp
*~
.vscode
