<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a href="/index.html">Home</a></li>
    <li class="active"><a href="/summary.html">Summary</a></li>
    <li class="active"><a href="/specification/index.html#schemas/signalk.json">Specification</a></li>
    <li class="active"><a href="/security.html">Security</a></li>
    <li class="active"><a href="/about.html">About Us</a></li>
  </ul>
  {% if page.date %}
    <h3 class="text-muted">Signal K &mdash; Blog</h3>
  {% else %}
    <h3 class="text-muted">Signal K &mdash; {{ page.title }}</h3>
  {% endif %}
  
</div>
